# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
themes/xul-hope/dist
themes/xul-hope/bower_components
themes/xul-hope/node_modules
themes/xul-hope/npm-debug.log
themes/xul-hope/vendor
themes/twentysixteen/*
themes/index.php
themes/composer.phar
themes/npm-debug.log
plugins/*
languages/*
upgrade/*
uploads/*
index.php



*.sublime-workspace

*.sublime-project
