body { margin: 0 1em; }

.container {
	 @extend .uk-container;
	 @extend .uk-container-center; 
	
}

// hide text for image replacement
.hide-text {
         text-indent: 100%;
         white-space: nowrap;
         overflow: hidden;
}

// Make new animations for simple up/down, no fade
// Homepage X animation

@include keyframes(slideUp) {
  0% {
    @include transform(translateY(0));
  }
  100% {
    @include transform(translateY(-100px));
  }
}

@mixin slideUp($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(slideUp);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}

@include keyframes(slideDown) {
  0% {
    @include transform(translateY(0));
  }
  100% {
    @include transform(translateY(100px));
  }
}

@mixin slideDown($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
  @include animation-name(slideDown);
  @include count($count);
  @include duration($duration);
  @include delay($delay);
  @include function($function);
  @include fill-mode($fill);
  @include visibility($visibility);
}