// Grid settings
// $enable-flex:           true;
// $main-sm-columns:       12;
// $sidebar-sm-columns:    4;
$spacer: 1rem; // setting a referenced bootstrap variable
$icon-font-path:                                 "../fonts" !default;


// Colors
$brand-primary:         #ee1c25; // Red
$brand-grey: #F3F3F3;

// UIkit variables
$navbar-background: #fff;
$panel-box-color: #000000;
//$panel-box-background: $brand-primary;