.page-header{
	padding: 3em 0;
	.home &{
	@extend  .screen-reader-text;		
	}

}

.film-button{
    padding: 4em;
    color: $brand-primary;
    font-size: xx-large;
    i { 
    	padding-bottom:0.5em;
    }	
}


.leftslider, .rightslider {
    position: relative;
    z-index: -50;
}

.slidetest {
    margin-top: -260px;
    margin-bottom: 260px;
    overflow: visible;
    .slideup{
        @include slideUp(
            $duration: 3s,
            $delay: .5s,
            $function: ease, 
            // $visibility: visible,
            $fill: forwards
          );
    }
    .slidedown{
        @include slideDown(
            $duration: 3s,
            $delay: .5s,
            $function: ease, 
            // $visibility: visible,
            $fill: forwards
            );  

    }
  
}
// Animation Test


// Project Archive


// article.iso-item {
//     width: 300px;
//     height: auto;
//    //  float: left;
// }